@media (min-width: 992px) { 
    
    /* header */
    .header .navbar {
        background-color : rgba(0, 0, 0, 0.857);
    }
    
    /* slider */
    .slider {
        padding-top: 200px;
        background-image: linear-gradient(rgba(16, 15, 15, 0.71), rgba(16, 15, 15, 0.71)), url(../Assets/img/landing-page.jpg) ;
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: cover;
    }
    
    .slider .carousel-item {
        color: white; 
    }
    
    .slider .carousel-inner h1 {
        font-family: 'ubuntu';
        font-weight: bold;
        font-size: 40px;
    }
    
    .slider .carousel-item h6 {
        font-family: 'noto sans';
        font-weight: bold;
        font-size: 15px;
        line-height: 20px;
    }
    
    .visual1 {
        padding-top: 280px;
        position: relative;
    }
    
    /* ongkir dan lacak */
    .ongkir-lacak {
        margin-top: -250px;
        z-index: 1;
        position: relative;
    }
    
    .ongkir, .lacak {
        margin: 20px ;
        padding-top: 20px;
    }
    
    .bg-ongkir-lacak{
        width: 100%;
        height: auto;
        background-color: #F7B20D;
        border-radius: 20px;
        color: white;
    }
    
    .ongkir .btn {
        width: 207px;
        height: 46.85px;
        margin: 1px;
        border-radius: 20px;
    
    }
    
    .lacak .form-control {
        margin-top: 20px;
    }
    
    .ongkir h1, .lacak h1 {
        font-size: 30px;
        font-weight: bold;
    }
    
    .ongkir h6, .lacak h6 {
        font-size: 15px;
        font-weight: bold;
    }
    
    /* our service */
    .our-service {
        margin-top: 100px;
    }
    
    .our-service h1, .review h1 {
        font-size: 30px;
    }
    
    .reguler img, .yes img, .cod img  {
        width: 50px;
        height: auto;
    }
    
    .reguler h1, .yes h1, .cod h1, .review-konten h1 {
        font-size: 20px;
        font-weight: bold;
    }
    
    .reguler h6, .yes h6, .cod h6 {
        font-size: 12px;
    }
    
    .reguler .btn, .yes .btn, 
    .reguler .btn , .cod .btn {
        border-radius: 10px;
        font-size: 15px;
    }
    
    .reguler, .yes, .cod {
        margin-top: 30px;
        padding: 10px;
        width: auto;
        height: auto;
        background-color: white;
        box-shadow:  0px 4px 25px rgba(54, 52, 52, 0.387);;
        border-radius: 20px;
        margin-left: 20px;
    }
    
    /* berita terkini */
    .berita-terkini {
        margin-top: 100px;
    }
    
    .gambar-berita {
        height: 83px;
        width: 83px ;
        border-radius: 100%;
        margin: 10px;
    }
    
    .tab-pane {
        overflow: scroll;
        height: 530px;
        width: 100%;
    }
    
    .img-kurir-sepeda {
        margin-top: 50px;
    }
    
    /* review */
    .review {
        margin-top: 100px;
    }
    
    .review-konten {
        padding: 20px;
        margin-top: 50px;
    }
    
    
    /* footer */
    .footer {
        width: 100%;
        height: auto;
        margin-top: 100px;
        background-color: #182020;
        color: white;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .footer h1  {
        font-size : 24px;
        line-height: 29px;
        color: #FFFFFF;
        font-weight: bold;
    }
    
    
    .footer h2 {
        font-size: 18px;
        line-height: 29px;
        color: #FFFFFF;
    }
    
    
    /* halaman  */
    /* ------ongkir------ */
    .header-ongkir {
        background-color: #F9A11D; 
        height: auto;
        width: 100%;
    }
    
    .harga-biaya-ongkir {
        background-color: blanchedalmond;
        width: 100%;
        height: 250px;
    }
    
    
    /* halaman 3 */
        /* -----yes---------- */
        .header-yes {
            background-color: #F9A11D; 
            height: auto;
            width: 100%;
        }
    
        .layanan-yes .cek-biaya-yes {
            width: 100%;
            height: auto;
            border-radius: 20px ;
            box-shadow: 0px 4px 10px rgba(155, 146, 146, 0.596);
        }
    
        .layanan-yes .cek-biaya-yes 
        .form-ongkir-yes {
            padding: 50px;
        }
    
        .layanan-yes .cek-biaya-yes 
        .form-ongkir-yes .btn-light {
            width: 263px;
            height: auto;
            box-shadow: 0px 4px 10px rgba(155, 146, 146, 0.596);
            color: #9C9292;
            margin-right: 20px;
        }
    
        .layanan-yes .cek-biaya-yes 
        .form-ongkir-yes .btn-success {
            width: 263px;
            height: auto;
            box-shadow: 0px 4px 10px rgba(155, 146, 146, 0.596);
            color: rgb(255, 255, 255);
        }
    
        /* halaman 4 */
        /* -----ratings------- */
        .halaman-ratings {
            background-color: rgb(231, 231, 231);
            width: 100%;
            height: 650px;
        }
    
        .form-ratings {
            padding: 30px;
            width: 100%;
            height: auto;
            border-radius: 20px ;
            background-color: white;
            box-shadow: 0px 4px 30px rgba(68, 65, 65, 0.596);
        }
    
        .form-ratings .btn {
            width: 100%;
        }

        .contact-us {
            margin: 60px;
        }



    
     }



